.slickSlide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slickSlide img {
  width: 30%;
  height: auto;
  margin: auto;
}

@media (max-width: 700px) {
  .slickSlide img {
    width: 250px;
  }
}
