.toolbar {
  display: flex;
  justify-content: start;
  gap: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.5vh;
  margin-bottom: 10px;
}

.toolbar button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #0056d2;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
  transition: background-color 0.1s ease;
}

.toolbar button:hover {
  color: #003a9d;
  background-color: #00000010;
}

.toolbar button:active {
  color: #003a9d;
  background-color: #00000015;
}

.toolbar button.active {
  color: #003a9d;
  background-color: #00000015;
}

.toolbar button.active:hover {
  color: #003a9d;
  background-color: #00000020;
}

.toolbar button.active:active {
  color: #003a9d;
  background-color: #00000025;
}

.editorContainer {
  border: 1px solid #0056d2;
  border-radius: 20px;
  padding: 0.5vw;
  min-height: 40vh;
}

.editor:focus-visible {
  outline: none;
}

.editorContainer:has(.editor:focus-visible) {
  outline: 1px solid #0056d2;
}

.editor {
  margin: 0 0.5vw;
}

.imagePopupBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000050;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagePopup {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.imagePopup img {
  max-height: 50vh;
  border-radius: 20px;
}

.uploadImageDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #6995d1;
  width: 20vw;
  height: 20vh;
  border-radius: 20px;
}

.uploadImageDiv:hover {
  cursor: pointer;
}

.uploadImageDiv p {
  color: white;
  margin: 0;
}

.imagePopupSendButtonDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.editor img {
  max-width: 100%;
}
