.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.totalQuestion {
  width: 70%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 25%;
  border: 3px solid #696969;
  border-radius: 20px;
  padding: 0 3%;
}

.question span {
  font-size: 22px;
}
