.postContainer,
.addPostsContainer {
  display: flex;
  justify-content: center;
  margin: 5vh;
}

.postContainer {
  flex-direction: column;
}

.postContainer div:not(:last-child) {
  margin-bottom: 20px;
}
