#container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-height: 90vh;
}

#container a {
  color: #2e2e2e;
}

#container .text {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

#container .text .item {
  display: flex;
  gap: 4%;
  font-size: 24px;
}

#container .text .item .number {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1b741b;
  font-size: 30px;
  color: #f1f1f1;
  font-weight: 700;
  height: 50px;
  aspect-ratio: 1/1;
  border-radius: 25px;
}

#container .text .item .notice button {
  font-size: 16px;
  border: none;
}

#container .img {
  width: 20vw;
  height: 60vh;
  background-color: #6c6cdf;
}

.popupClose {
  display: none;
}

.popupOpen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30vw;
  height: 30vh;
  position: fixed;
  top: 35vh;
  left: 35vw;
  background-color: #6c6cdf;
  z-index: 1000;
}
.popupOpen ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
