.slick-list {
  width: 100%;
}

.slickSlider {
  width: 100%;
  overflow: hidden;
}

.slickSlide {
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  transition: transform 0.5s ease; /* Adiciona transição suave */
}

.slickSlide img {
  width: 100%;
  margin: 0;
  padding: 0;
}

.slickSlide--active {
  transform: scale(1); /* Aumenta o slide ativo */
}

.slickSlide:not(.slickSlide--active) {
  transform: scale(0.8); /* Diminui os slides não ativos */
}

@media (max-width: 700px) {
  .slickSlide {
    transform: scale(1); /* Remove a escala em telas menores */
  }
}
