.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 10px; /* Ajuste conforme necessário */
  min-height: 100vh;
  gap: 6vh;
}

.text {
  font-size: 1.5rem;
  text-align: center;
}

.funco {
  min-height: 60vh;
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 5vh;
}

.funco .item {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 3px 3px 10px rgb(133, 133, 133);
  transition: transform 0.3s ease; /* Adiciona a transição */
}

.funco .item .img {
  width: 55%;
  aspect-ratio: 1 / 1;
  background-color: rgba(42, 165, 83, 0.952);
  border-radius: 50%;
}

.funco .item .textItem {
  height: 50%;
  width: 90%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1441px) {
  .funco .item .textItem h1 {
    font-size: 22px;
    font-weight: 600;
  }

  .funco .item .textItem p {
    line-height: 1.5;
    font-size: 18px;
  }
  .funco .item:hover {
    transform: scale(1.2); /* Aumenta o tamanho ao passar o mouse */
  }
}

@media (max-width: 1440px) and (min-width: 1300px) {
  .funco .item .textItem h1 {
    font-size: 18px;
    font-weight: 600;
  }

  .funco .item .textItem p {
    line-height: 1.5;
    font-size: 16px;
  }
  .funco .item:hover {
    transform: scale(1.2); /* Aumenta o tamanho ao passar o mouse */
  }
}

@media (max-width: 1299px) {
  .funco {
    flex-direction: column;
    align-items: center;
    gap: 6vh;
  }
  .funco .item {
    width: 300px;
  }
}
