.container {
  background-color: rgb(53, 126, 189);
  display: flex;
  margin-top: 16vh;
  justify-content: end;
  align-items: center;
  flex: 1 1 auto;
  padding: 10px; /* Ajuste conforme necessário */
  min-height: 80vh;
}

.text {
  width: 45%;
}

.carousel {
  width: 50%;
  height: auto;
}
