.container {
  flex: 1;
  display: flex;
  margin-top: 16vh;
  justify-content: end;
  align-items: center;
}

.text {
  width: 45%;
}

.carousel {
  display: flex;
  overflow: hidden;
  width: 50%; /* Define a largura do carrossel para 50% da largura da tela */
  height: 50vh; /* Define a altura do carrossel para 50% da altura da tela */
  position: relative;
  perspective: 1000px; /* Adiciona perspectiva para o efeito 3D */
  justify-content: center; /* Centraliza os itens dentro do carrossel */
  align-items: center; /* Alinha os itens verticalmente ao centro */
}

.carousel div {
  width: 30%; /* Garante que cada div interna ocupe 30% da largura do carrossel */
  height: 100%; /* Garante que as divs internas ocupem toda a altura do carrossel */
  position: absolute;
  transition: transform 0.5s ease-in-out;
  backface-visibility: hidden;
}

.carousel div:nth-child(1) {
  transform: translateX(0) scale(1); /* Posição inicial do primeiro item */
  z-index: 1;
  animation: slide1 9s infinite;
}

.carousel div:nth-child(2) {
  transform: translateX(100%) scale(0.8); /* Posição inicial do segundo item */
  z-index: 0;
  animation: slide2 9s infinite;
}

.carousel div:nth-child(3) {
  transform: translateX(-100%) scale(0.8); /* Posição inicial do terceiro item */
  z-index: 0;
  animation: slide3 9s infinite;
}

@keyframes slide1 {
  0%,
  100% {
    transform: translateX(0) scale(1);
    z-index: 1;
  }
  33% {
    transform: translateX(-100%) scale(0.8);
    z-index: 0;
  }
  66% {
    transform: translateX(100%) scale(0.8);
    z-index: 0;
  }
}

@keyframes slide2 {
  0%,
  100% {
    transform: translateX(100%) scale(0.8);
    z-index: 0;
  }
  33% {
    transform: translateX(0) scale(1);
    z-index: 1;
  }
  66% {
    transform: translateX(-100%) scale(0.8);
    z-index: 0;
  }
}

@keyframes slide3 {
  0%,
  100% {
    transform: translateX(-100%) scale(0.8);
    z-index: 0;
  }
  33% {
    transform: translateX(100%) scale(0.8);
    z-index: 0;
  }
  66% {
    transform: translateX(0) scale(1);
    z-index: 1;
  }
}

.item1 img {
  height: auto;
  width: 100%;
}

.item2 img {
  height: auto;
  width: 100%;
}

.item3 img {
  height: auto;
  width: 100%;
}
