.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  padding: 40px;
  min-height: 70vh;
}

.containerNotices {
  width: 80%;
}

.containerNotices .slideContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.slideContainer .itemSlide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.itemSlide .notice {
  margin: auto;
  width: 90%;
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgb(165, 165, 165);
}

.containerNotices .notice img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.noticeContent {
  padding: 10px;
}

@media (max-width: 900px) {
  .containerNotices {
    width: 60%;
  }
}

/* TODO transbordamento da tela */
@media (max-width: 500px) {
  .containerNotices {
    width: 60%;
  }
}
