.searchBar {
  display: flex;
  justify-content: center;
  margin: 5vh;
  gap: 1.5vw;
}

.searchBtn {
  background-color: #0056d2;
  color: whitesmoke;
  border-radius: 20px;
  border: none;
  padding: 14px 20px;
  font-size: 16px;
}

.searchBtn:hover {
  background-color: #003a9d;
  cursor: pointer;
}

.searchForm {
  display: flex;
  gap: 1.5vw;
}
