.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 50px; /* Ajuste conforme necessário */
  min-height: 100vh;
}

.video {
  aspect-ratio: 4/3;
  margin: 2% 0;
  border: none;
}

.comments {
  height: 30%;
  width: 70%;
}

.comments .slideContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-bottom: 5vh;
}

.itemSlide .comment {
  margin: auto;
  padding: 25% 10%;
  background-color: rgb(238, 238, 238);
  height: 200px; /* Altura fixa para todos os comentários */
  width: 70%;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centraliza o conteúdo verticalmente */
}

.comment h4 {
  margin-top: 0;
  font-size: 16px;
  text-align: center;
  color: #000;
  width: 90%;
}

.comment span {
  font-size: 16px;
  font-style: oblique;
}

@media (max-width: 550px) {
  img.video {
    width: 100%;
    margin-bottom: 30px;
  }
  .comments {
    width: 100%;
  }

  .comment h4 {
    font-size: 14px;
    width: 100%;
  }
  .comment span {
    font-size: 14px;
  }
}
